<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Terve Thymeleaf</title>
    <meta charset="UTF-8"/>
    <!--Tyylitiedosto resources/static/css -hakemistoon, löytyy automaagisesti-->
    <link rel="stylesheet" href="tyyli.css" th:href="@{/tyyli.css}"/>
</head>
<body>
<p>Kukkuu</p>

<!--<p th:text="|Sanonta: ${thViite.getSanonnat().get(0)}|"/>-->
<!--<p th:text="|Kenen suusta: ${thViite.kertoja}|"/>-->
<table class="perus">
    <!--<tr><th>Sanonta</th><th>Kertoja</th> </tr>-->
    <tr>
        <td>
            <form action="#" th:action="@{/tokasivu}" th:object="${lisaysOlio}" method="post">
                <!--<div><label th:text="'Sanonta:'" th:for="teksti"/> <input th:field="*{teksti}"/></div>-->
                <div>Sanonta: <input th:type="text" th:field="*{teksti}"/></div>
                <div>Kenen suusta: <input th:type="text" th:field="*{kertoja}"/></div>
                <!--<div>value:<input th:type="text" th:field="*{value}"/></div>-->
                <button>Submit</button>
            </form>
        </td>
    </tr>
</table>


<table class="perus">
    <tr>
        <th>Sanonta</th>
        <th>Kertoja</th>
    </tr>
    <tr th:each="sanonta: ${thViite.getSanonnat()}">

        <td th:if="${sanonta.getTeksti()==''}" > Hijast o! </td>
        <td th:unless="${sanonta.getTeksti()==''}" th:text="${sanonta.getTeksti()}" ></td>

        <td th:class="${sanonta.getKertoja()=='' ? 'tyhja' : 'toinen'}" th:text="${sanonta.getKertoja()}=='' ? 'Tuntematon' : ${sanonta.getKertoja()}" ></td>

    </tr>

</table>

</body>
</html>