<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Terve Thymeleaf</title>
    <meta charset="UTF-8"/>
    <!--Tyylitiedosto resources/static/css -hakemistoon, löytyy automaagisesti-->
    <link rel="stylesheet" href="tyyli.css" th:href="@{/tyyli.css}"/>
</head>
<body>
<p>Kukkuu</p>

<!--<p th:text="|Sanonta: ${thViite.getSanonnat().get(0)}|"/>-->
<!--<p th:text="|Kenen suusta: ${thViite.kertoja}|"/>-->

<table class="perus">
    <tr><th>Sanonta</th><th>Kertoja</th> </tr>
    <tr th:each="sanonta: ${thViite.sanonnat}">
        <td th:text="${sanonta.teksti}"></td>
        <td th:text="${sanonta.kertoja}"></td>
    </tr>

</table>

</body>
</html>