<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Lisää sanonta</title>
    <meta charset="UTF-8"/>
    <!--Tyylitiedosto resources/static/css -hakemistoon, löytyy automaagisesti-->
    <link rel="stylesheet" href="tyyli.css" th:href="@{/tyyli.css}"/>
</head>
<body>

<h1>BÖÖ!!</h1>

<!--<table class="perus">-->
    <!--&lt;!&ndash;<tr><th>Sanonta</th><th>Kertoja</th> </tr>&ndash;&gt;-->
    <!--<tr>-->
        <!--<td>-->
            <!--<form action="#" th:action="@{/lomakekasittelija}" th:object="${lisaysOlio}" method="post">-->
                <!--&lt;!&ndash;<div><label th:text="'Sanonta:'" th:for="teksti"/> <input th:field="*{teksti}"/></div>&ndash;&gt;-->
                <!--<div>Sanonta: <input th:type="text" th:field="*{teksti}"/></div>-->
                <!--<div>Kenen suusta: <input th:type="text" th:field="*{kertoja}"/></div>-->
                <!--&lt;!&ndash;<div>value:<input th:type="text" th:field="*{value}"/></div>&ndash;&gt;-->
                <!--<button>Submit</button>-->
            <!--</form>-->
        <!--</td>-->
    <!--</tr>-->
<!--</table>-->


</body>
</html>